<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Lyrae</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

<header>

    <nav>

        <a href="/">home</a>

        <a href="/posts">posts</a>

    </nav>
