<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Cadastro - Lyrae</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>


<body>


<div class="box">


    <h1>✦ criar conta ✦</h1>



    <form action="/cadastro" method="POST">


        <input
            type="text"
            name="nome"
            placeholder="seu nome"
            required
        >



        <input
            type="email"
            name="email"
            placeholder="seu email"
            required
        >



        <input
            type="password"
            name="senha"
            placeholder="sua senha"
            required
        >



        <button type="submit">
            cadastrar
        </button>


    </form>



    <p>
        já tem conta?
        <a href="/loginusuario">
            entrar
        </a>
    </p>



</div>


</body>

</html>