<%- include('partials/header', { title: 'criar conta' }) %>


<div class="top-decoration"></div>


<header class="site-header">

    <h1>✦ criar conta ✦</h1>

    <p>faça parte do lyrae</p>

</header>



<main class="post-single">


    <section class="post">


        <h2>
            criar nova conta
        </h2>



        <form
            action="/cadastro"
            method="POST"
            class="comentario-form"
        >


            <input
                type="text"
                name="nome"
                placeholder="seu nome"
                required
            >



            <input
                type="email"
                name="email"
                placeholder="seu email"
                required
            >



            <input
                type="password"
                name="senha"
                placeholder="sua senha"
                required
            >



            <button type="submit">
                cadastrar
            </button>


        </form>




        <p style="margin-top:25px;">

            já tem conta?

            <a href="/loginusuario">
                entrar
            </a>

        </p>



    </section>


</main>



<footer>

    ✦ lyrae ✦

</footer>



<%- include('partials/footer') %>