<%- include('partials/header', { title: 'favoritos' }) %>


<div class="post-single">

    <div class="post">

        <h2>
            ✦ favoritos ✦
        </h2>


        <p>
            algumas coisas que eu gosto:
        </p>



        <div class="favoritos-grid">


            <a href="https://sound-match-rho.vercel.app/" target="_blank">

                <img src="/images/favoritos/cat2.png">

            </a>



            <a href="https://alexandria-nkt3.onrender.com/" target="_blank">

                <img src="/images/favoritos/ev.gif">

            </a>

<a href="https://tastefy-five.vercel.app/about" target="_blank">

                <img src="/images/favoritos/sharks.png">

            </a>


        </div>


    </div>

</div>


<%- include('partials/footer') %>