<%- include('partials/header', { title: 'lyrae' }) %>


<div class="top-decoration"></div>


<header class="site-header">

    <h1>✦ lyrae ✦</h1>

    <p>arte, pensamentos e tals</p>

</header>



<div class="blog-container">


    <!-- COLUNA ESQUERDA -->

    <aside>

        <div class="box">

            <h2>menu</h2>

            <p><a href="/">início</a></p>
            <p><a href="#">sobre mim</a></p>
            <p><a href="#">galeria</a></p>
            <p><a href="#">arquivo</a></p>

        </div>



        <div class="box">

            <h2>links</h2>

            <p><a href="#">rabiscos</a></p>
            <p><a href="#">inspirações</a></p>
            <p><a href="#">favoritos</a></p>

        </div>

    </aside>





    <!-- COLUNA CENTRAL -->

    <main>


        <div class="post">

            <h2>bem-vindo ao lyrae</h2>

            <p>
                esse é meu cantinho de arte na internet.
                aqui vou compartilhar desenhos, ideias,
                inspirações e coisas que eu gosto.
            </p>

        </div>



        <div class="post">

            <h2>primeiro post</h2>

            <p>
                em breve um novo post...
            </p>

        </div>


    </main>





    <!-- COLUNA DIREITA -->

    <aside>


        <div class="box">

            <h2>sobre mim</h2>

            <p>
                oii! esse é meu blog pessoal
                de arte.
            </p>

        </div>



        <div class="box">

            <h2>categorias</h2>

            <p>sketchbook</p>
            <p>design</p>
            <p>inspo</p>

        </div>

<div class="box">

<h2>stamps</h2>

<img src="/images/stamps/cinnamorollstamp.png" class="stamp">

<img src="/images/stamps/typos.gif" class="stamp">

<img src="/images/stamps/htmlsucks.png" class="stamp">

</div>

    </aside>



</div>




<footer>

    ✦ lyrae - feito com carinho ✦

</footer>



<%- include('partials/footer') %>