<%- include('partials/header', { title: 'login usuario' }) %>


<div class="top-decoration"></div>


<header class="site-header">

    <h1>✦ login ✦</h1>

    <p>entre na sua conta do lyrae</p>

</header>



<main class="post-single">


    <section class="post">


        <h2>
            entrar como usuário
        </h2>



        <form
            action="/loginusuario"
            method="POST"
            class="comentario-form"
        >


            <input
                type="email"
                name="email"
                placeholder="seu email"
                required
            >



            <input
                type="password"
                name="senha"
                placeholder="sua senha"
                required
            >



            <button type="submit">
                entrar
            </button>


        </form>



        <p style="margin-top:25px;">
            ainda não tem conta?
            <a href="/cadastro">
                criar conta
            </a>
        </p>



    </section>


</main>



<footer>

    ✦ lyrae ✦

</footer>



<%- include('partials/footer') %>