<%- include('partials/header', { title: 'login' }) %>


<div class="post-single">


    <div class="post">

        <h2>
            ✦ login ✦
        </h2>


        <p>
            escolha como entrar:
        </p>



        <a href="/loginadmin" class="login-choice">

            <img src="/images/login.png">

            admin

        </a>



        <a href="/loginusuario" class="login-choice">

            <img src="/images/login.png">

            usuário

        </a>


    </div>


</div>


<%- include('partials/footer') %>