<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Login Admin - Lyrae</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>


<body>


<div class="box">


    <h1>✦ admin ✦</h1>


    <form action="/login" method="POST">


        <input
            type="password"
            name="senha"
            placeholder="senha"
            required
        >


        <button type="submit">
            entrar
        </button>


    </form>


</div>


</body>

</html>