<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Login - Lyrae</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>


<body>


<div class="box">


    <h1>✦ login ✦</h1>



    <form action="/loginusuario" method="POST">



        <input
            type="email"
            name="email"
            placeholder="seu email"
            required
        >



        <input
            type="password"
            name="senha"
            placeholder="sua senha"
            required
        >



        <button type="submit">
            entrar
        </button>



    </form>




    <p>
        ainda não tem conta?
        <a href="/cadastro">
            criar conta
        </a>
    </p>



</div>


</body>

</html>