<%- include('partials/header', { title: 'login admin' }) %>


<div class="top-decoration"></div>


<header class="site-header">

    <h1>✦ login admin ✦</h1>

    <p>área restrita do lyrae</p>

</header>



<main class="post-single">


    <section class="post">


        <h2>
            entrar como administrador
        </h2>



        <form
            action="/loginadmin"
            method="POST"
            class="comentario-form"
        >


            <input
                type="password"
                name="senha"
                placeholder="senha de administrador"
                required
            >



            <button type="submit">
                entrar
            </button>


        </form>



    </section>


</main>




<footer>

    ✦ lyrae ✦

</footer>




<%- include('partials/footer') %>